<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  </head>
  <body>
    <nav class="navbar navbar-dark bg-dark">
      <a href="" class="font-weight-bold">P.A.C.O.</a>
      <a href="/projects" class="font-italic">ALL PROJECTS</a>
      <a href="/projects/new" class="font-italic">ADD PROJECT</a>
      <ul class="right">
          <li>
          <% if (user) { %>
              <a href="/logout">Log Out</a>
          <% } else { %>
              <a href="/auth/google">Login with Google</a>
          <% } %>
          </li>
      </ul>
    </nav>
    <br>
    <section id="show-page">
        <div class="font-weight-bold">Project Name: </div>
        <div><%= project.projectName %></div>
        <div class="font-weight-bold">Owner: </div>
        <div><%= project.userName %></div>
        <div class="font-weight-bold">Profession: </div>
        <div><%= project.profession %></div>
        <div class="font-weight-bold">DAW: </div>
        <div><%= project.daw %></div>
        <div class="font-weight-bold">Plugins</div><a href="/projects/<%=project._id%>/plugins/new">ADD PLUGIN</a>
        <table class="table table-dark id="list">
            <thead>
                <th scope="col">Manufacturer</th>
                <th scope="col">Plugin Name</th>
                <th scope="col">Type</th>
                <th scope="col">Version</th>
                <th scope="col">Used On</th>
                <th></th>
            </thead>
                <tbody>
            <% plugins.forEach(plugs => { %>
              <tr>
                <td><%= plugs.manufacturer %></td> 
                <td><%= plugs.pluginName %></td>
                <td><%= plugs.type %></td>
                <td><%= plugs.version %></td>
                <td><%= plugs.usedOn %></td>
                
                <% if (project.user.toString() == user._id.toString()) { %>
                    <td>
                        <a href="/projects/<%=project._id%>/plugins/<%=plugs._id%>/edit">Edit</a>
                    </td>
                    <% } %>
                    <% }); %>
                </tr>
              </tbody>
            </table>
    </section>
          <br><br><h2>Comments</h2>
          <form id="add-comment-form" method="POST"
          action="/projects/<%= project._id %>/comments">
          <label>Comments:</label>
          <textarea name="content"></textarea>
          <input type="submit" value="Add Comment">
        </form>
        <% if (project.comments.length) { %>
            <table>
              <thead>
                <tr>
                  <th>User</th>
                  <th>Comment</th>
                </tr>
              </thead>
              <tbody>
                <% project.comments.forEach(function(c) { %>
                  <tr>
                    <td><%= c.userName %></td>
                    <td><%= c.content %></td>
                  </tr>
                <% }); %>
              </tbody>
            </table>
          <% } else { %>
            <h5>No Comment</h5>
          <% } %>
  </body>
</html>
